@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply z-10;
}

h2 {
  @apply text-5xl font-bold;
}
h3 {
  @apply text-4xl font-light;
}
p {
  @apply font-medium text-justify text-2xl;
}

.font-anim {
  animation: font-animation infinite;
  animation-duration: 6s;
  transition-timing-function: ease-in-out;
}

@keyframes font-animation {
  0% {
    font-variation-settings: "wght" 400, "wdth" 100;
  }
  25% {
    font-variation-settings: "wght" 800, "wdth" 100;
  }
  50% {
    font-variation-settings: "wght" 600, "wdth" 75;
  }
  75% {
    font-variation-settings: "wght" 400, "wdth" 75;
  }
  100% {
    font-variation-settings: "wght" 400, "wdth" 100;
  }
}

.bg-blur {
  background: url(../public//noise.png), #162126;
  background-blend-mode: overlay;
}

#hamburger-9 {
  position: relative;
  scale: 0.7;
  margin-bottom: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9:hover {
  cursor: pointer;
}

#hamburger-9 .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-9:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 5px solid transparent;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active:before {
  border: 5px solid #ecf0f1;
}

#hamburger-9.is-active .line {
  width: 35px;
}

#hamburger-9.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-9.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-9.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
