@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  background: #324a56;
}

::selection {
  background: #324a56;
}

h2 {
  @apply text-5xl font-bold;
}
h3 {
  @apply text-4xl font-light;
}
p {
  @apply font-medium text-justify text-2xl;
}

.font-anim {
  animation: font-animation infinite;
  animation-duration: 6s;
  transition-timing-function: ease-in-out;
}

@keyframes font-animation {
  0% {
    font-variation-settings: "wght" 400, "wdth" 100;
  }
  25% {
    font-variation-settings: "wght" 800, "wdth" 100;
  }
  50% {
    font-variation-settings: "wght" 600, "wdth" 75;
  }
  75% {
    font-variation-settings: "wght" 400, "wdth" 75;
  }
  100% {
    font-variation-settings: "wght" 400, "wdth" 100;
  }
}

.bg-blur {
  background: url(../public//noise.png), #162126;
  background-blend-mode: overlay;
}

/* hamburger  */

#hamburger {
  position: relative;
  scale: 0.7;
  margin-bottom: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger:hover {
  cursor: pointer;
}

#hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 5px solid transparent;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active:before {
  border: 5px solid #ecf0f1;
}

#hamburger.is-active .line {
  width: 35px;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

/* loading animation  */

.loader-wrapper .packman::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #0091f7;
  border-radius: 100px 100px 0 0;
  /* transform: translate(-50%, -50%); */
  animation: pac-top 0.5s linear infinite;
  /* transform-origin: center bottom; */
}

.loader-wrapper .packman::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: #0091f7;
  border-radius: 0 0 100px 100px;
  /* transform: translate(-50%, 50%); */
  animation: pac-bot 0.5s linear infinite;
  /* transform-origin: center top; */
}

@keyframes pac-top {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  50% {
    transform: translate(-50%, -50%) rotate(-30deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}

@keyframes pac-bot {
  0% {
    transform: translate(-50%, 50%) rotate(0);
  }

  50% {
    transform: translate(-50%, 50%) rotate(30deg);
  }

  100% {
    transform: translate(-50%, 50%) rotate(0);
  }
}

.dots .dot {
  position: absolute;
  z-index: -1;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.dots .dot:nth-child(1) {
  left: 90px;
  animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(2) {
  left: 60px;
  animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(3) {
  left: 30px;
  animation: dot-stage1 0.5s infinite;
}

.dots .dot:nth-child(4) {
  left: 10px;
  animation: dot-stage2 0.5s infinite;
}

@keyframes dot-stage1 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-24px, 0);
  }
}

@keyframes dot-stage2 {
  0% {
    transform: scale(1);
  }

  5%,
  100% {
    transform: scale(0);
  }
}
